<div class="container-fluid head" id="nav">
  <div class="d-flex justify-content-start">
  <img  class="img-fluid" src="https://mssnlagos.net/templates/gk_game/images/style4/logo.png">
  <div class="mt-4 pl-3">  
    <h3 class="font-weight-bold">COUNCIL OF HIGHER INSTITUTIONS</h3>
    <h6>An Organ of Muslim Students' Society of Nigeria Lagos State Area Unit</h6>
  </div>
  </div>
 <!--  <span class="d-flex justify-content-end">
    <ul class="">
      <li class="pl-3 list-inline-item"><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
      <li class="pl-3 list-inline-item"><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
      <li class="pl-3 list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    </ul>
  </span> -->
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <!-- <a class="navbar-brand" href="#">CC</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="nav navbar-nav ">
      <li class="nav-item active">
        <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about.html">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/affliates.html">OUR AFFILIATES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/contents/yabatech.html">PROGRAMS</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link " href="#">CONTACT US</a>
      </li -->
      <li class="nav-item">
        <a class="nav-link disable" href="#">BLOG</a>
      </li>
    </ul>
  </div>
</nav>