<div class="container-fluid">
  <h4 class="text-center mb-3">Universities</h4>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner row w-100 mx-auto">
      {% for item in site.data.university-affl %}
      <div class="carousel-item col-md-3 active">
        <div class="card">
          <img class="card-img-top img-fluid" src="{{ item.link }}" alt="{{ item.name }}">
          <div class="card-body">
            <h4 class="card-title">{{ item.name }}</h4>
            <p class="card-text">{{ item.text }}</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
     {% endfor %}
      
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
		

 