<section class="carousel slide" data-ride="carousel" id="postsCarousel">
	<div class="container p-t-0 m-t-2 carousel-inner">
        <div class="row row-equal carousel-item active m-t-0">
		{% for item in site.data.university-affl %}
		<div class="col-md-4">
			<div class="card">
			    <div class="card-img-top card-img-top-250">
			        <img class="img-fluid" src="{{ item.link }}" alt="{{ item.name }}">
			     </div>
			    <div class="card-block p-t-2">
	       	        <h6 class="small text-wide p-b-2"><!-- {{ item.name }} --></h6>
			        <h2>
			        <p >{{ item.text }}</p>			                        
			    	</h2>
			    </div>
            </div>
		</div>
		  {% endfor %}
		</div>
	</div>
	<a class="carousel-control-prev" href="#postsCarousel" role="button" data-slide="prev">
			        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			        <span class="sr-only">Previous</span>
			      </a>
			      <a class="carousel-control-next" href="#postsCarousel" role="button" data-slide="next">
			        <span class="carousel-control-next-icon" aria-hidden="true"></span>
			        <span class="sr-only">Next</span>
			      </a>
			    </div>
</section>